:root {
  --primary: #001529;
  --secondary: #1a44d8;
  --off-white: #f5faff;
  --off-black: #151515;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  padding: 15px;
  background-color: var(--primary);
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  height: 100%;
}
.brand {
  margin-left: 15px;
  color: var(--off-white) !important;
}

.body {
  width: 100vw;
  height: 85vh;
}

.footer {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 100vw;
}
