:root {
  --primary: #001529;
  --secondary: #1a44d8;
  --error: #c36262;
  --off-white: #f5faff;
  --off-black: #151515;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.primary {
  background-color: var(--primary) !important;
  color: var(--off-white) !important;
}
.primary-error {
  background-color: var(--error) !important;
  color: var(--off-white) !important;
}
.ant-typography {
  margin-bottom: 0 !important;
}

.header {
  display: flex;
  padding: 15px;
  background-color: var(--primary);
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
}
.brand {
  margin-left: 5px;
}

.body {
  width: 100%;
  height: 85vh;
  padding: 20px;
  overflow-y: auto;
}
.title {
  color: var(--primary) !important;
  width: fit-content;
}

.news-card {
  margin-top: 10px;
  min-height: 200px;
}
.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 15px;
}
.news-title {
  width: 70%;
}
.article-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-detail {
  margin-left: 10px;
}

.footer {
  background-color: var(--primary);
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 10px;
  justify-content: center;
  width: 100%;
}
